[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
wtforms = "*"
flask-wtf = "*"
lightgbm = "*"
gunicorn = "*"

[dev-packages]
pandas = "*"
flask = "*"
wtforms = "*"
flask-wtf = "*"
lightgbm = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
